body {
  font-family: "Roboto Mono", monospace;
  background: linear-gradient(
    to right,
    rgba(151, 150, 240, 0.5),
    rgba(251, 199, 212, 0.5)
  );
}

header {
  height: 80vh;
  padding: 10px;
}

.logo {
  width: 44px;
  height: auto;
}

.site-title {
  display: flex;
  justify-content: space-around;
  margin: 60px auto;
  width: 60%;
  gap: 30px;
  padding: 40px;
}

.self-presentation h1 {
  font-family: "Rubik", sans-serif;
  padding: 0 10px;
  margin: 10px 0;
  font-size: 60px;
}

.self-presentation p {
  padding: 10px;
  line-height: 20px;
  font-size: 18px;
}

button {
  padding: 12px 15px;
  color: #fff;
  font-weight: bold;
  background: #f65282;
  margin: 10px;
  border-radius: 6px;
  border: none;
  box-shadow: 2px 3px 24px rgba(0, 0, 0, 0.2);
  transition: all 200ms ease-in-out;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  color: black;
  background: #fff;
  font-weight: bold;
}

.presentation-img {
  display: block;
  vertical-align: middle;
}

.projects {
  background: #fff;
  width: 90%;
  display: block;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(132, 170, 189, 0.8);
}

.project-picture {
  width: 250px;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  transition: all 200ms ease-in-out;
}

.project-picture:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.section-title {
  margin: 5px;
  padding: 20px;
  font-family: "Rubik", sans-serif;
  text-align: center;
  font-size: 36px;
  color: #f65282;
}

.carousel {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  padding: 20px;
}

.project-item h3 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.project-description {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
  text-align: justify;
  padding-bottom: 20px;
}

.project-item button {
  padding: 10px 20px;
  color: #fff;
  background: black;
  display: block;
  margin: 10px auto;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 3px 24px rgba(0, 0, 0, 0.2);
  transition: all 200ms ease-in-out;
  font-size: 16px;
  cursor: pointer;
}

.project-item button:hover {
  background: #f65282;
  color: #fff;
}

.contact {
  padding: 30px 10px 10px;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  justify-content: space-evenly;
  gap: 40px;
  margin: 0 20px;
  padding: 10px;
  width: 80%;
  vertical-align: bottom;
}

.email-info {
  padding: 10px 20px;
}

.email-info p {
  font-size: 18px;
}

.social-icons-container {
  display: flex;
  align-content: flex-start;
  gap: 20px;
  padding: 20px 0;
}

.social-icon {
  width: 36px;
}

footer {
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
}
