body {
  font-family: "Roboto Mono", monospace;
  background: linear-gradient(
    to right,
    rgba(151, 150, 240, 0.5),
    rgba(251, 199, 212, 0.5)
  );
}

header {
  padding: 10px;
}
.menu-bar {
  display: flex;
  justify-content: space-between;
}

.header-menu ul {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  list-style: none;
  padding: 0 20px;
  font-size: 16px;
  font-weight: lighter;
}

.site-title {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 60%;
  gap: 30px;
  padding: 40px;
}

.self-presentation h1 {
  font-family: "Rubik", sans-serif;
  padding: 0 10px;
  margin: 10px 0;
  font-size: 48px;
}

.self-presentation p {
  padding: 10px;
  line-height: 20px;
  font-size: 18px;
}

.self-presentation button {
  padding: 10px 12px;
  color: #fff;
  font-weight: bold;
  background: #f65282;
  margin: 10px;
  border-radius: 6px;
  border: none;
  box-shadow: 2px 3px 24px rgba(0, 0, 0, 0.2);
  transition: all 200ms ease-in-out;
  font-size: 16px;
  cursor: pointer;
}

.self-presentation button:hover {
  color: black;
  background: #fff;
  font-weight: bold;
}

.presentation-img {
  display: block;
  vertical-align: middle;
}

.projects {
  background: #fff;
  width: 90%;
  display: block;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(132, 170, 189, 0.8);
}

.project-picture {
  width: 250px;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  transition: all 200ms ease-in-out;
}

.project-picture:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.section-title {
  margin: 5px;
  padding: 20px;
  font-family: "Rubik", sans-serif;
  text-align: center;
  font-size: 28px;
  color: #f65282;
}

.carousel {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  padding: 20px;
}

.project-item h3 {
  text-align: center;
  font-size: 18px;
}

.project-description {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
  text-align: justify;
  padding-bottom: 20px;
}

.project-item button {
  padding: 10px 20px;
  color: #fff;
  background: black;
  display: block;
  margin: 10px auto;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 3px 24px rgba(0, 0, 0, 0.2);
  transition: all 200ms ease-in-out;
  font-size: 16px;
  cursor: pointer;
}

.project-item button:hover {
  background: #f65282;
  color: #fff;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
  padding: 10px;
}

footer {
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
}
